torch>=2.1.0
torchaudio>=2.1.0

transformers==4.37.2
transformers-stream-generator==0.0.5
accelerate>=0.27.0
sentencepiece
huggingface-hub
einops
tiktoken

datasets>=2.18.0
soundfile
numpy
scipy

pandas
tqdm
matplotlib
ipython

qwen-vl-utils>=0.0.6

